<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.leoch.modules.alert.mapper.AlertTriggerMapper">

    <resultMap type="net.leoch.modules.alert.entity.AlertTriggerEntity" id="alertTriggerMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="templateId" column="template_id"/>
        <result property="mediaId" column="media_id"/>
        <result property="receiverUserIds" column="receiver_user_ids"/>
        <result property="matchLabels" column="match_labels"/>
        <result property="status" column="status"/>
        <result property="creator" column="creator"/>
        <result property="createDate" column="create_date"/>
        <result property="updater" column="updater"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

</mapper>
