<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.leoch.modules.alert.mapper.AlertNotifyLogMapper">

    <resultMap type="net.leoch.modules.alert.entity.AlertNotifyLogEntity" id="alertNotifyLogMap">
        <result property="id" column="id"/>
        <result property="recordId" column="record_id"/>
        <result property="alertName" column="alert_name"/>
        <result property="instance" column="instance"/>
        <result property="severity" column="severity"/>
        <result property="mediaName" column="media_name"/>
        <result property="receivers" column="receivers"/>
        <result property="sendStatus" column="send_status"/>
        <result property="errorMessage" column="error_message"/>
        <result property="sendTime" column="send_time"/>
    </resultMap>

</mapper>
