<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.leoch.modules.ops.mapper.DeviceBackupHistoryMapper">

    <resultMap type="net.leoch.modules.ops.entity.DeviceBackupHistoryEntity" id="deviceBackupHistoryMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="ip" column="ip"/>
        <result property="url" column="url"/>
        <result property="backupTime" column="backup_time"/>
        <result property="backupStatus" column="backup_status"/>
    </resultMap>

</mapper>
